[tool.isort]
profile = "black"
line_length = 88
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.black]
line-length = 88
target-version = ['py312', 'py313']
include = '\.pyi?$'

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]
exclude = [".git", "__pycache__", ".venv", "venv"]

[tool.pylint.MASTER]
disable = [
    "missing-docstring",
    "invalid-name",
    "fixme",
    "too-many-arguments",
    "too-few-public-methods",
    "no-name-in-module",
    "unused-argument",
]

[tool.pylint.DESIGN]
max-args = 7
